<p id="notice"><%= notice %></p>

<p>
  <b>Tree:</b>
  <%= @person.tree_id %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Father:</b>
  <%= @person.father_id %>
</p>

<p>
  <b>Mother:</b>
  <%= @person.mother_id %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
